<div class="grid-x">
		<div class="cell small-12 medium-4 medium-offset-4">
			<div class="headers">
				<div class="grid-x">
				  <div class="cell small-6"><h1>New Question</h1></div>
				  <div class="cell small-6 text-right"></div>
				</div>
				</div>
				<div class="form-inner-container">
					<%= render 'form', question: @question %>
				</div>
			</div>
		</div>



